<div class="relative"
     data-controller="mensa-column-customizer"
     data-mensa-column-customizer-table-name-value="<%= table.name %>"
     data-mensa-column-customizer-turbo-frame-id-value="<%= table.table_id %>"
     data-mensa-column-customizer-mensa-table-outlet="#table-<%= table.table_id %>">
  <button class="mensa-table__control_bar__button" type="button" data-action="click->mensa-column-customizer#toggle">
    <i class="<%= Mensa.config.icons[:control_bar_edit] %>"></i>
  </button>
  <div class="mensa-table__column_customizer__popover hidden" data-mensa-column-customizer-target="popover">
    <p class="mensa-table__column_customizer__heading">Columns</p>
    <ul>
      <% table.columns.reject(&:internal?).each do |column| %>
        <li class="mensa-table__column_customizer__row"
            data-mensa-column-customizer-target="columnRow"
            data-column-name="<%= column.name %>"
            data-visible="<%= column.visible?.to_s %>"
            draggable="true"
            data-action="dragstart->mensa-column-customizer#dragStart dragover->mensa-column-customizer#dragOver drop->mensa-column-customizer#drop dragend->mensa-column-customizer#dragEnd">
          <i class="mensa-table__column_customizer__handle fa-solid fa-grip-vertical"></i>
          <span class="mensa-table__column_customizer__name<%= !column.visible? ? " mensa-table__column_customizer__name--hidden" : "" %>">
            <%= column.human_name %>
          </span>
          <button class="mensa-table__column_customizer__visibility" type="button" data-action="click->mensa-column-customizer#toggleVisibility">
            <i class="fa-solid fa-eye"></i>
            <i class="fa-solid fa-eye-slash"></i>
          </button>
        </li>
      <% end %>
    </ul>
  </div>
</div>
