<%= content_tag :tr, **row.link_attributes do %>
  <% if table.batch_actions? %>
    <td class="mensa-table__checkbox-col" data-action="click->mensa-selection#stopPropagation">
      <input class="mensa-table__select-all" type="checkbox" value="<%= row.record.id %>" data-action="change->mensa-selection#toggleRow" data-mensa-selection-target="rowCheckbox">
    </td>
  <% end %>
  <% if table.actions? && Mensa.config.row_actions_position == :front %>
    <td class="actions">
      <%= render(Mensa::RowAction::Component.with_collection(table.actions, row: row, table: table)) %>
    </td>
  <% end %>
  <%= render(Mensa::Cell::Component.with_collection(table.display_columns, row: row)) %>
  <% if table.actions? && Mensa.config.row_actions_position == :back %>
    <td class="actions">
      <%= render(Mensa::RowAction::Component.with_collection(table.actions, row: row, table: table)) %>
    </td>
  <% end %>
<% end %>
