<div id="<%= dom_id customer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Country:</strong>
    <%= customer.country %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Isin:</strong>
    <%= customer.isin %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= customer.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Stock symbol:</strong>
    <%= customer.stock_symbol %>
  </p>
</div>
