<% content_for :title, "Editing customer" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing customer</h1>

  <div class="mt-3">
    <% if @previous_customer %>
      <%= link_to "Previous customer", edit_customer_path(@previous_customer, @mensa_navigation_params), class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <% end %>
    <% if @next_customer %>
      <%= link_to "Next customer", edit_customer_path(@next_customer, @mensa_navigation_params), class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
    <% end %>
  </div>

  <%= render "form", customer: @customer %>

  <%= link_to "Show this customer", @customer, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to customers", customers_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
